<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
    
    <ul class="navbar-links">
      <li><a class="navbar-brand" routerLink="/">🏠 Volver a inicio</a></li>
      <li><a class="navbar-brand" routerLink="/reflection">Reflection</a></li>
    </ul>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
